/* Set the font family and background color for the entire document */
body {
    font-family: Arial, sans-serif;
    background-color: #fffff8  ;
}

/* Style the header */
h1 {
    text-align: center;
    color: #111111 ;
    margin-top: 30px;
	margin-right: 38vw;
	margin-left: 12vw;
}

/* Style the paragraph text */
p {
    color: #666;
    font-size: 18px;
    line-height: 1.5;
}

/* Style the button */
button {
    background-color: #111111 ;
    color: #fff;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
	margin-right: 38vw;
	margin-left: 12vw;
}

/* Style the days container */
#days {
    margin-top: 20px;
	margin-right: 38vw;
	margin-left: 12vw;
    border: 1px solid #111111 ;
    padding: 20px;
}

/* Style the individual day elements */
#days p {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    color: #111111 ;
}
