body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #FDF5E6; /* Old paper */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h1 {
  margin-top: 50px;
}

#activity-suggestion {
  font-size: 30px;
  margin-top: 50px;
}

#generate-button {
  font-size: 20px;
  padding: 10px 20px;
  background-color: #8B8378; /* Dark grayish brown */
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 30px;
  cursor: pointer;
}

#generate-button:hover {
  background-color: #5F5A50; /* Dark brown */
}
